.list {
    background-color: #1C4672;
    width: 300px;
    height: 50px;
    color: rgb(255, 252, 245);;
    margin: 20px auto;
}

.list p {
    padding: 10px;
    position: relative;

}

.list p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons {
    margin: 0 5px;
    font-size: 15px;
}
.list p input{
    background-color: transparent;
    border: 0;
    font-size: 18px;
    color:rgb(255, 252, 245) ;
}

.list p input:focus{
    outline: none;
}